body{
  display:flex;
  align-items:center;
  justify-content: center;
  padding: 0;
  margin:0;
  min-height:100vh;
  background: linear-gradient(to right top, #007991, #78FFD6 );
}

.out-line{
  height:450px;
  width:250px;
  border-radius: 30px;
  box-shadow: 6px 8px 10px #007991,
              inset 2px 2px 10px #007991;
  display: flex;
  justify-content: center;
  align-items: center;
}

.in-line{
  height:410px;
  width:240px;
  border-radius: 30px;
  box-shadow: inset 2px 2px 10px #007991;
}

.cal-display{
  width:220px;
  height: 140px;
  padding: 0px 10px;
  overflow-wrap: break-word;
  overflow: hidden;
  margin: 0px;
  font-size: 50px;
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: -3px -10px 50px #007991,
              inset 3px 3px 3px #007991;
}

.buttons-container{
  padding: 15px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:5px;
  row-gap: 5px;
}

.buttons-container button{
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  background-color: #02819b;
  box-shadow: 3px 3px 4px #007991,
              inset 2px 1px 6px #baf4ff;
  cursor: pointer;
}

button:active{
  box-shadow: 0px 0px 0px #007991,
              inset 2px 1px 6px #baf4ff;
  transform: translateY(3px);
  transform: translateX(3px);
}

.clear-btn{
  width:240px;
  height: 40px;
  margin: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #02819b;
  border: none;
  box-shadow: 1px 1px 1px #007991,
  inset 1px 1px 3px #baf4ff;
  font-size: 20px;
  cursor: pointer;
}

